@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

$colorA: #77c8c0;
$colorAA: #267aac;
$colorB: #4ad7b8;
$colorBB: #f39c12;

// 相当于定义了一个函数
@mixin gradient($color1, $color2) {
	background: $color1;
	background: -moz-linear-gradient(
		-45deg,
		$color1 0%,
		$color2 100%
	);
	background: -webkit-linear-gradient(
		-45deg,
		$color1 0%,
		$color2 100%
	);
	background: linear-gradient(
		135deg,
		$color1 0%,
		$color2 100%
	);
	// NOTE:NEW 语法
	// filter:progid:DXImageTransform.Microsoft.Gradient(enabled=bEnabled,startColorStr=iWidth,endColorStr=iWidth)
	// 作用：用于在元素上创建渐变效果
	// 1.startColorstr：渐变的起始颜色。
	// 2.endColorstr：渐变的结束颜色。
	// 3.GradientType：渐变的方向。可以0用于垂直、1水平或2对角线。
	// 适配情况
	// IE6 及其更高版本的浏览器
	// 请注意，progid:DXImageTransform.Microsoft.gradient过滤器已弃用，取而代之的是 CSS3 渐变。所有主流浏览器都支持 CSS3 渐变。
	// 网址: https://blog.csdn.net/jiudihanbing/article/details/8372947
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color1}', endColorstr='#{$color2}',GradientType=1 );
}

// use only the available space inside the 400x400 frame
.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: #fff;
	color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

div[class^='gradient'] {
	position: absolute;
	width: 400px;
	height: 400px;
	top: 0;
	left: 0;
}

.gradient-1 {
	@include gradient($colorA, $colorAA);
}

.gradient-2 {
	z-index: 2;
	opacity: 0;
	@include gradient($colorB, $colorBB);
	animation: gradient 4s ease-in-out infinite;
}

@keyframes gradient {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
